## Ejercicios de pair programming 5 enero: Limpieza IV

In [1]:
#Importamos todas las librerias a utilizar
import pandas as pd
import seaborn as sns
import numpy as np
import sidetable

pd.options.display.max_columns = None

In [11]:
#Abrimos el archivo y lo guardamos el df
df = pd.read_csv("../datos/tiburon7.csv", index_col=0)

1. Lo primero que tenemos que evaluar es en que columnas tenemos nulos y que cantidad tenemos en cada una. ¿Hay alguna columna con una gran cantidad de nulos? En caso de que sea así deberemos eliminarla.

In [6]:
df.stb.missing()

             missing  total   percent
edad             158   1672  9.449761
mes              154   1672  9.210526
deceso            99   1672  5.921053
activity          31   1672  1.854067
genero            14   1672  0.837321
country           10   1672  0.598086
injury             8   1672  0.478469
case_number        0   1672  0.000000
year               0   1672  0.000000
type               0   1672  0.000000
especies           0   1672  0.000000

Las columnas con más nulos son edad y mes pero no consideramos que sea una gran cantidad. En cualquier caso es poco recomendable eliminar una columna entera a pesar de tener muchos nulos.

2. Es el momento de eliminar los nulos:

2.1 Reemplazad los valores nulos de la columna age por la media de la edad, redondeada a dos decimales.

In [12]:
#Usamos replace para reemplazar los nan por la media de edad redondeada a dos decimales
df['edad'].replace(np.nan, df['edad'].mean().round(2), inplace = True)

In [14]:
df.edad.value_counts()

27.89    158
25.00     82
19.00     71
18.00     61
20.00     60
        ...
59.00      4
62.00      3
65.00      2
64.00      1
5.00       1
Name: edad, Length: 62, dtype: int64

In [10]:
#Comprobamos
df['edad'].isnull().sum()

0

2.2 En relación a la columna de country al tratarse de una columna de tipo categórica, reemplazad los valores nulos por una nueva categória que se llame Unknown.

In [15]:
#Usamos replace para modificar los nulos con Unknown
df['country'].replace(np.nan, 'Unknown', inplace = True)

In [17]:
df.country.unique()

array(['usa', 'brazil', 'australia', 'england', 'costa rica', 'maldives',
       'south africa', 'cuba', 'spain', 'bahamas', 'indonesia', 'egypt',
       'new zealand', 'french polynesia', 'new caledonia', 'ecuador',
       'thailand', 'reunion', 'mexico', 'jamaica', 'italy',
       'papua new guinea', 'russia', 'seychelles', 'vietnam', 'guam',
       'mozambique', 'scotland', 'united kingdom', 'taiwan', 'croatia',
       'fiji', 'tonga', 'st. maartin', 'grand cayman', 'vanuatu',
       'venezuela', 'turks & caicos', 'okinawa', 'marshall islands',
       'mauritius', 'hong kong', 'japan', 'south korea', 'israel',
       'micronesia', 'columbia', 'new britain', 'palau',
       'solomon islands', 'federated states of micronesia', 'greece',
       'british west indies', 'north pacific ocean', 'bermuda',
       'philippines', 'american samoa', 'pacific ocean', 'senegal',
       'argentina', 'el salvador', 'iraq', 'panama', 'india', 'Unknown',
       'barbados', 'martinique', 'guinea', 'greenland', 'france',
       'mediterranean sea', 'sweden', 'iceland', 'roatan',
       'between portugal & india', 'canada', 'kenya', 'uruguay',
       'lebanon', 'sudan', 'djibouti', 'libya', 'sri lanka', 'bahrein',
       'korea', 'iran', 'red sea?', 'singapore', 'madagascar',
       'nicaragua', 'kiribati', 'saudi arabia', 'burma', 'belize',
       'asia?', 'ceylon (sri lanka)'], dtype=object)

In [18]:
#Comprobamos que no hay nulos
df['country'].isnull().sum()

0

2.3 Reemplazad los valores nulos de la columna fatal por Unknown.

In [19]:
#Usamos replace para modificar los nulos de deceso con Unknown
df['deceso'].replace(np.nan, 'Unknown', inplace = True)

In [20]:
df.deceso.unique()

array(['N', 'Y', 'Unknown'], dtype=object)

In [21]:
#Comprobamos que no hay nulos
df['deceso'].isnull().sum()

0

2.4 Reemplazad los valores nulos de la columna type por el valor más frecuente (la moda).

In [27]:
#Como la columna type no tiene nulos lo aplicamos en la columna activity y reemplazamos los nulos con la moda mediante fillna
df['activity'].fillna(df['activity'].mode()[0], inplace=True)

In [29]:
#Comprobamos
df['activity'].isnull().sum()

0

2.5 Reemplazad los valores nulos de la columna fecha por Unknown.

In [31]:
#Como no tenemos columna de fecha aplicamos el fillna en la columna de mes reemplazando los nulos por Unknown
df['mes'].fillna('Unknown', inplace=True)

In [34]:
df['mes'].unique()

array(['Jun', 'May', 'Apr', 'Mar', 'Feb', 'Jan', 'Dec', 'Nov', 'Oct',
       'Sep', 'Aug', 'Jul', 'Unknown'], dtype=object)

In [32]:
#Comprobamos
df['mes'].isnull().sum()

0

In [35]:
#Comprobamos en que columnas nos quedan nulos
df.stb.missing()

             missing  total   percent
genero            14   1672  0.837321
injury             8   1672  0.478469
case_number        0   1672  0.000000
year               0   1672  0.000000
type               0   1672  0.000000
country            0   1672  0.000000
activity           0   1672  0.000000
mes                0   1672  0.000000
deceso             0   1672  0.000000
especies           0   1672  0.000000
edad               0   1672  0.000000

In [37]:
#Como nos quedan nulos en genero vamos a reemplazar por la moda
df['genero'].fillna(df['genero'].mode()[0], inplace=True)

In [43]:
#Como nos quedan nulos en injury vamos a reemplazar por Unknown
df['injury'].replace(np.nan, 'Unknown', inplace = True)

In [44]:
#Comprobamos que no tenemos más nulos 
df.stb.missing()

             missing  total  percent
case_number        0   1672      0.0
year               0   1672      0.0
type               0   1672      0.0
country            0   1672      0.0
activity           0   1672      0.0
injury             0   1672      0.0
mes                0   1672      0.0
deceso             0   1672      0.0
genero             0   1672      0.0
especies           0   1672      0.0
edad               0   1672      0.0

3. Guardad el csv para seguir trabajando con el en los siguientes ejercicios de pair.

In [45]:
#Guardamos el archivo limpio
df.to_csv('../datos/tiburon8.csv')