## Ejercicios de pair programming 3 enero: Limpieza II

1.Columna de species: si exploramos esta columna en detalle nos podemos dar cuenta que tenemos muchos valores únicos y esto hace que sea muy difícil trabajar con esta columna. Lo que vamos a hacer es clasificar los tiburones en 5 especies diferentes, las más comunes, que incluyen el tiburón blanco (White), el tiburón tigre (Tiger ), el tiburón gris (Grey), el tiburón limón (Lemon) y el tiburón toro (Bull). El resto de las especies las incluiremos en un único grupo que podremos llamar "Unspecified". Ahora nos podemos sentir un poco abrumadas y no saber como enfrentarnos a este reto, pero don't worry, os dejamos por aquí unas 💡 pistas 💡 para que os ayuden a entender cómo hacerlo.
Los valores de las columnas son strings por lo que podremos usar regex para buscar palabras clave en cada celda y asignarlo a una de las categorías que hemos definido previamente.

 imaginemos que el valor de una celda es el siguiente

'White shark, 3.5 m'

tendremos que buscar el patrón de regex que nos permita extraer White shark de ese string y que nos devuelva solo White shark. 

Un patrón que podriamos usar es: 

patron_blanco = r".*[Ww](hite|HITE).*" # esto podría ser así porque puede estar en mayúsculas o en minúsculas. 

de la misma forma que hemos sacado el patron para el tiburón blanco, tendremos que sacar los patrones para las otras 4 especies que queremos "encontrar". 
Tendremos que crearnos una función que aplicaremos sobre nuestra columna species para que nos devuelva una nueva columna con los valores clasificados en función de los patrones de regex que hayamos definido.

In [2]:
#importamos las librerias
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import regex as re
import sidetable

pd.options.display.max_columns = None   #Asi nos saldran todas las columnas del dataframe

In [3]:
df = pd.read_csv("../datos/tiburon5.csv", index_col=0)

In [4]:
df.head()

,case_number,year,type,country,activity,age,species_,injury,mes,deceso,genero
0,2018.06.25,2018,Boating,usa,Paddling,57,White shark,"No injury to occupant, outrigger canoe and pad...",Jun,N,F
1,2018.06.03.a,2018,Unprovoked,brazil,Swimming,18,Tiger shark,FATAL,Jun,Y,M
2,2018.05.26.b,2018,Unprovoked,usa,Walking,15,"Bull shark, 6'",Lower left leg bitten,May,N,M
3,2018.05.24,2018,Provoked,australia,Feeding sharks,32,Grey reef shark,Minor bite to hand by captive shark. PROVOKED ...,May,N,M
4,2018.05.13.a,2018,Invalid,england,Fishing,21,Invalid incident,Injured by teeth of a dead porbeagle shark he ...,May,N,M

In [5]:
#Comprobamos los valores de la columna "species_"
df["species_"].value_counts()

White shark                                                                                                                      76
Tiger shark                                                                                                                      37
4' shark                                                                                                                         34
Bull shark                                                                                                                       32
Shark involvement not confirmed                                                                                                  26
                                                                                                                                 ..
1.2 m [4'] blacktip or sandbar shark                                                                                              1
Bull shark, 1.8 m to 2.1 m [6' to 7']                                                                                             1
Mako shark, 400-lb                                                                                                                1
1.2 m to 1.5 m [4' to 5'] shark, possibly a bull shark                                                                            1
Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable     1
Name: species_, Length: 856, dtype: int64

In [6]:
#Comprobamos que es tipo object (string)
df.dtypes

case_number    object
year            int64
type           object
country        object
activity       object
age            object
species_       object
injury         object
mes            object
deceso         object
genero         object
dtype: object

In [7]:
#Miramos cuantos nulos tenemos en nuestro DF

df.isnull().sum()

case_number      0
year             0
type             0
country         10
activity        31
age            154
species_       126
injury           8
mes            154
deceso          99
genero          14
dtype: int64

In [8]:
#Generamos los patrones para las diferentes especies de tiburon que nos piden
patron_blanco = ".*[Ww](hite|HITE).*"
patron_tigre = ".*[Tt](iger|IGER).*"
patron_gris = ".*[Gg](rey|REY).*"
patron_toro = ".*[Bb](ull|ULL).*"
patron_limon = ".*[Ll](emon|EMON).*"

In [9]:
#Hacemos una funcion para poder buscar los patrones en las diferentes entradas de la columna "species_"
#Cuando el patron no coincida con ningun resultado lo metera en "Unspecified"
def sacar_especies (col):

    if re.findall(patron_blanco, str(col)) :
        return "White"
    elif re.findall(patron_tigre, str(col)) :
        return "Tiger"
    elif re.findall(patron_gris, str(col)):
        return "Grey"
    elif re.findall(patron_toro, str(col)) :
        return "Bull"
    elif re.findall(patron_limon, str(col)):
        return "Lemon"
    else:
        return "Unspecified"

In [10]:
#Aplicamos la funcion que acabamos de crear en la columna "species_" generando una nueva columna llamada "especies"
df["especies"] = df["species_"].apply(sacar_especies)

In [11]:
df.head(10)

,case_number,year,type,country,activity,age,species_,injury,mes,deceso,genero,especies
0,2018.06.25,2018,Boating,usa,Paddling,57,White shark,"No injury to occupant, outrigger canoe and pad...",Jun,N,F,White
1,2018.06.03.a,2018,Unprovoked,brazil,Swimming,18,Tiger shark,FATAL,Jun,Y,M,Tiger
2,2018.05.26.b,2018,Unprovoked,usa,Walking,15,"Bull shark, 6'",Lower left leg bitten,May,N,M,Bull
3,2018.05.24,2018,Provoked,australia,Feeding sharks,32,Grey reef shark,Minor bite to hand by captive shark. PROVOKED ...,May,N,M,Grey
4,2018.05.13.a,2018,Invalid,england,Fishing,21,Invalid incident,Injured by teeth of a dead porbeagle shark he ...,May,N,M,Unspecified
5,2018.04.28.b,2018,Unprovoked,costa rica,Scuba diving,30,Tiger shark,"No injury, shark bit scuba gear",Apr,N,M,Tiger
6,2018.04.25.a,2018,Unprovoked,australia,Surfing,60,3 m shark,"No injury, knocked off board by shark",Apr,N,M,Unspecified
7,2018.04.23,2018,Unprovoked,maldives,Fishing,32,Tiger shark,5-inch cut to hand,Apr,N,M,Tiger
8,2018.04.22,2018,Unprovoked,south africa,Paddle-skiing,33,"White shark, 2.5 m","No injury, shark bit hole in ski",Apr,N,M,White
9,2018.04.03,2018,Unprovoked,south africa,Surfing,19,White shark,Lacerations to left knee & lower leg,Apr,N,M,White

2.Columna de age: es una columna de tipo string pero debería ser de tipo integer. Además, en esta columna nos vamos a encontrar con algunos errores tipográficos, estos incluyen:

Edad en formato string

Edades separadas por &, or, to, >

Edades con ?

Vamos con algunas 💡 pistas 💡 para que os ayuden a entender cómo hacerlo:

Primero tendremos que eliminar todos esos símbolos especiales que nos aparecen. De nuevo, podremos usar regex para extraer unicamente los números que es lo que nos interesa. Usar este regex en una función para sacar solo los números.

Puede que os salga un error similar a este:

TypeError: expected string or bytes-like object

Para solucionar este problema, antes de nada tendréis que ejecutar este código para que no os de error:

df['nombre_columna'] = df['nombre_columna'].astype(str)

Una vez que hayáis extraido los números, os daréis cuenta que hay celdas que tienen más de una edad. Tendréis que decidir que hacer en esos casos. Os dejamos por aquí una posible opción usando un método de Pandas que os puede resultar super útil. El método explode, aqui.

Por último cambiad el tipo de la columna de string a integer.

In [12]:
df['age'] = df['age'].astype(str)

In [13]:
df.dtypes

case_number    object
year            int64
type           object
country        object
activity       object
age            object
species_       object
injury         object
mes            object
deceso         object
genero         object
especies       object
dtype: object

In [14]:
df["age"].unique

<bound method Series.unique of 0        57
1        18
2        15
3        32
4        21
       ...
1667    nan
1668    nan
1669    nan
1670    nan
1671     15
Name: age, Length: 1672, dtype: object>

In [15]:
#Generamos un patron para buscar numeros en la columna correspondiente
patron_edad = "(\d+)"

In [16]:
#hacemos una funcion para buscar el patron en cada registro de la columna correspondiente

def sacar_num (col):
    try:
        return re.findall(patron_edad, col)[0] #nos dara el elemento 0 de la lista de coincidencias
    except: 
        return np.nan # si no coincide con el patron dara un np.nan

In [17]:
df["edad"] = df["age"].apply(sacar_num) #aplicamos la funcion a la columna "age" generando otra columna nueva llamada "edad"

In [18]:
df.head()

,case_number,year,type,country,activity,age,species_,injury,mes,deceso,genero,especies,edad
0,2018.06.25,2018,Boating,usa,Paddling,57,White shark,"No injury to occupant, outrigger canoe and pad...",Jun,N,F,White,57
1,2018.06.03.a,2018,Unprovoked,brazil,Swimming,18,Tiger shark,FATAL,Jun,Y,M,Tiger,18
2,2018.05.26.b,2018,Unprovoked,usa,Walking,15,"Bull shark, 6'",Lower left leg bitten,May,N,M,Bull,15
3,2018.05.24,2018,Provoked,australia,Feeding sharks,32,Grey reef shark,Minor bite to hand by captive shark. PROVOKED ...,May,N,M,Grey,32
4,2018.05.13.a,2018,Invalid,england,Fishing,21,Invalid incident,Injured by teeth of a dead porbeagle shark he ...,May,N,M,Unspecified,21

In [19]:
df["edad"]= df["edad"].astype("Int64") #convertimos todos los valores de "edad" a integer

In [21]:
df.dtypes

case_number    object
year            int64
type           object
country        object
activity       object
age            object
species_       object
injury         object
mes            object
deceso         object
genero         object
especies       object
edad            Int64
dtype: object

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1672 entries, 0 to 1671
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  1672 non-null   object
 1   year         1672 non-null   int64
 2   type         1672 non-null   object
 3   country      1662 non-null   object
 4   activity     1641 non-null   object
 5   age          1672 non-null   object
 6   species_     1546 non-null   object
 7   injury       1664 non-null   object
 8   mes          1518 non-null   object
 9   deceso       1573 non-null   object
 10  genero       1658 non-null   object
 11  especies     1672 non-null   object
 12  edad         1514 non-null   Int64
dtypes: Int64(1), int64(1), object(11)
memory usage: 184.5+ KB

Como ya tenemos las columnas limpias vamos a borrar las que teniamos sin limpiar para reducir el DataFrame al minimo necesario

In [23]:
df.drop(["age", "species_"], axis = 1, inplace = True)

In [24]:
df.head()

,case_number,year,type,country,activity,injury,mes,deceso,genero,especies,edad
0,2018.06.25,2018,Boating,usa,Paddling,"No injury to occupant, outrigger canoe and pad...",Jun,N,F,White,57
1,2018.06.03.a,2018,Unprovoked,brazil,Swimming,FATAL,Jun,Y,M,Tiger,18
2,2018.05.26.b,2018,Unprovoked,usa,Walking,Lower left leg bitten,May,N,M,Bull,15
3,2018.05.24,2018,Provoked,australia,Feeding sharks,Minor bite to hand by captive shark. PROVOKED ...,May,N,M,Grey,32
4,2018.05.13.a,2018,Invalid,england,Fishing,Injured by teeth of a dead porbeagle shark he ...,May,N,M,Unspecified,21

3. Guarda el csv con las columnas limpias para seguir trabajando con este dataframe limpio.

In [25]:
df.to_csv("../datos/tiburon6.csv")