## Ejercicios de pair programming del dia 2 enero: Limpieza I

In [1]:
#importamos librerias
import pandas as pd
import numpy as np

In [2]:
#abrimos nuestro archivo
df = pd.read_csv("../datos/tiburon4.csv", index_col=0)

In [4]:
df.drop("Unnamed: 0" , axis= 1, inplace = True)

In [5]:
df.head()

,case_number,year,type,country,area,location,activity,name,age,time,species_,href,siglo,injury,mes,deceso,genero
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,"No injury to occupant, outrigger canoe and pad...",Jun,N,F
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,FATAL,Jun,Y,M
2,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Lower left leg bitten,May,N,M
3,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Minor bite to hand by captive shark. PROVOKED ...,May,N,M
4,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Injured by teeth of a dead porbeagle shark he ...,May,N,M

1. Al empezar a trabajar con este dataframe ya eliminamos algunas columnas que a priori no nos interesaban. Ahora llega el momento de eliminar alguna columna más. En este caso tendréis que eliminar las columnas que no nos sean útiles para contestar a nuestras preguntas. Pero ojo ⚠️, haced una copia del dataframe para no "cargarnos" el dataframe original y perder la info.

Consideramos que para contestar a las preguntas que nos plantean no nos harían falta las columnas: siglo, href, name, time, location, area

In [48]:
df2 = df.drop(["siglo", "href", "location", "name", "time", "area"], axis= 1)

In [49]:
df2.head()

,case_number,year,type,country,activity,age,species_,injury,mes,deceso,genero
0,2018.06.25,2018.0,Boating,USA,Paddling,57,White shark,"No injury to occupant, outrigger canoe and pad...",Jun,N,F
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Swimming,18,Tiger shark,FATAL,Jun,Y,M
2,2018.05.26.b,2018.0,Unprovoked,USA,Walking,15,"Bull shark, 6'",Lower left leg bitten,May,N,M
3,2018.05.24,2018.0,Provoked,AUSTRALIA,Feeding sharks,32,Grey reef shark,Minor bite to hand by captive shark. PROVOKED ...,May,N,M
4,2018.05.13.a,2018.0,Invalid,ENGLAND,Fishing,21,Invalid incident,Injured by teeth of a dead porbeagle shark he ...,May,N,M

2. ¿Hay valores duplicados en nuestro dataframe? En caso de que los haya, eliminándlos.

In [50]:
df2.duplicated().sum() #No hay valores duplicados

0

3. Como hemos visto, algunas columnas no tienen el tipo de datos que deberían. Cambiad el tipo de dato para la columna de year.

In [51]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1672 entries, 0 to 1671
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  1672 non-null   object
 1   year         1672 non-null   float64
 2   type         1672 non-null   object
 3   country      1662 non-null   object
 4   activity     1641 non-null   object
 5   age          1518 non-null   object
 6   species_     1546 non-null   object
 7   injury       1664 non-null   object
 8   mes          1518 non-null   object
 9   deceso       1573 non-null   object
 10  genero       1658 non-null   object
dtypes: float64(1), object(10)
memory usage: 156.8+ KB

Teniamos la columna "year" como float y la cambiamos a int

In [52]:
df2['year'] = df2[['year']].astype('Int64', errors = 'raise')

In [53]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1672 entries, 0 to 1671
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  1672 non-null   object
 1   year         1672 non-null   Int64
 2   type         1672 non-null   object
 3   country      1662 non-null   object
 4   activity     1641 non-null   object
 5   age          1518 non-null   object
 6   species_     1546 non-null   object
 7   injury       1664 non-null   object
 8   mes          1518 non-null   object
 9   deceso       1573 non-null   object
 10  genero       1658 non-null   object
dtypes: Int64(1), object(10)
memory usage: 158.4+ KB

In [54]:
df2['year'].unique()

<IntegerArray>
[2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009,
 ...
 1617, 1595, 1580, 1555, 1554, 1543,  500,   77,    5,    0]
Length: 147, dtype: Int64

4. En la columna de country poner todos los valores en minúsculas.
💡 Pista Tendréis que usar una función o una lambda 💡

In [55]:
#Comprobamos los valores de "country"
df2['country'].unique()

array(['USA', 'BRAZIL', 'AUSTRALIA', 'ENGLAND', 'COSTA RICA', 'MALDIVES',
       'SOUTH AFRICA', 'CUBA', 'SPAIN', 'BAHAMAS', 'INDONESIA', 'EGYPT',
       'NEW ZEALAND', 'FRENCH POLYNESIA', 'NEW CALEDONIA', 'ECUADOR',
       'THAILAND', 'REUNION', 'MEXICO', 'JAMAICA', 'ITALY',
       'PAPUA NEW GUINEA', 'RUSSIA', 'SEYCHELLES', 'VIETNAM', 'GUAM',
       'MOZAMBIQUE', 'SCOTLAND', 'UNITED KINGDOM', 'TAIWAN', 'CROATIA',
       'FIJI', 'TONGA', 'ST. MAARTIN', 'GRAND CAYMAN', 'VANUATU',
       'VENEZUELA', 'TURKS & CAICOS', 'OKINAWA', 'MARSHALL ISLANDS',
       'MAURITIUS', 'HONG KONG', 'JAPAN', 'SOUTH KOREA', 'ISRAEL',
       'MICRONESIA', 'COLUMBIA', 'NEW BRITAIN', 'PALAU',
       'SOLOMON ISLANDS', 'FEDERATED STATES OF MICRONESIA', 'GREECE',
       'BRITISH WEST INDIES', 'NORTH PACIFIC OCEAN', 'BERMUDA',
       'PHILIPPINES', 'AMERICAN SAMOA', 'PACIFIC OCEAN', 'SENEGAL',
       'ARGENTINA', 'EL SALVADOR', 'IRAQ', 'PANAMA', 'INDIA', nan,
       'BARBADOS', 'MARTINIQUE', 'GUINEA', 'GREENLAND', 'FRANCE',
       'MEDITERRANEAN SEA', 'SWEDEN', 'ICELAND', 'ROATAN',
       'Between PORTUGAL & INDIA', 'CANADA', 'KENYA', 'URUGUAY',
       'LEBANON', 'SUDAN', 'DJIBOUTI', 'LIBYA', 'SRI LANKA', 'BAHREIN',
       'KOREA', 'IRAN', 'RED SEA?', 'SINGAPORE', 'MADAGASCAR',
       'NICARAGUA', 'KIRIBATI', 'SAUDI ARABIA', 'BURMA', 'BELIZE',
       'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

In [56]:
#Creamos una funcion para que todos los valores de "country" se cambien a minusculas
def minusculas(col):
    try:
        return col.lower()
    except:
        return np.nan

In [57]:
#Igualamos la columna para que se sobreescriba
df2['country'] = (df2['country'].apply(minusculas))

In [58]:
#Comprobamos los valores

df2['country'].unique()

array(['usa', 'brazil', 'australia', 'england', 'costa rica', 'maldives',
       'south africa', 'cuba', 'spain', 'bahamas', 'indonesia', 'egypt',
       'new zealand', 'french polynesia', 'new caledonia', 'ecuador',
       'thailand', 'reunion', 'mexico', 'jamaica', 'italy',
       'papua new guinea', 'russia', 'seychelles', 'vietnam', 'guam',
       'mozambique', 'scotland', 'united kingdom', 'taiwan', 'croatia',
       'fiji', 'tonga', 'st. maartin', 'grand cayman', 'vanuatu',
       'venezuela', 'turks & caicos', 'okinawa', 'marshall islands',
       'mauritius', 'hong kong', 'japan', 'south korea', 'israel',
       'micronesia', 'columbia', 'new britain', 'palau',
       'solomon islands', 'federated states of micronesia', 'greece',
       'british west indies', 'north pacific ocean', 'bermuda',
       'philippines', 'american samoa', 'pacific ocean', 'senegal',
       'argentina', 'el salvador', 'iraq', 'panama', 'india', nan,
       'barbados', 'martinique', 'guinea', 'greenland', 'france',
       'mediterranean sea', 'sweden', 'iceland', 'roatan',
       'between portugal & india', 'canada', 'kenya', 'uruguay',
       'lebanon', 'sudan', 'djibouti', 'libya', 'sri lanka', 'bahrein',
       'korea', 'iran', 'red sea?', 'singapore', 'madagascar',
       'nicaragua', 'kiribati', 'saudi arabia', 'burma', 'belize',
       'asia?', 'ceylon (sri lanka)'], dtype=object)

In [59]:
df2.head()

,case_number,year,type,country,activity,age,species_,injury,mes,deceso,genero
0,2018.06.25,2018,Boating,usa,Paddling,57,White shark,"No injury to occupant, outrigger canoe and pad...",Jun,N,F
1,2018.06.03.a,2018,Unprovoked,brazil,Swimming,18,Tiger shark,FATAL,Jun,Y,M
2,2018.05.26.b,2018,Unprovoked,usa,Walking,15,"Bull shark, 6'",Lower left leg bitten,May,N,M
3,2018.05.24,2018,Provoked,australia,Feeding sharks,32,Grey reef shark,Minor bite to hand by captive shark. PROVOKED ...,May,N,M
4,2018.05.13.a,2018,Invalid,england,Fishing,21,Invalid incident,Injured by teeth of a dead porbeagle shark he ...,May,N,M

5. Guardamos el csv para seguir trabajando en el siguiente ejercicio de pair de limpieza.

In [60]:
df2.to_csv('../datos/tiburon5.csv')