## Ejercicios de pair programming 3 enero: Limpieza II

1.Columna de species: si exploramos esta columna en detalle nos podemos dar cuenta que tenemos muchos valores √∫nicos y esto hace que sea muy dif√≠cil trabajar con esta columna. Lo que vamos a hacer es clasificar los tiburones en 5 especies diferentes, las m√°s comunes, que incluyen el tibur√≥n blanco (White), el tibur√≥n tigre (Tiger ), el tibur√≥n gris (Grey), el tibur√≥n lim√≥n (Lemon) y el tibur√≥n toro (Bull). El resto de las especies las incluiremos en un √∫nico grupo que podremos llamar "Unspecified". Ahora nos podemos sentir un poco abrumadas y no saber como enfrentarnos a este reto, pero don't worry, os dejamos por aqu√≠ unas üí° pistas üí° para que os ayuden a entender c√≥mo hacerlo.
Los valores de las columnas son strings por lo que podremos usar regex para buscar palabras clave en cada celda y asignarlo a una de las categor√≠as que hemos definido previamente.

 imaginemos que el valor de una celda es el siguiente

'White shark, 3.5 m'

tendremos que buscar el patr√≥n de regex que nos permita extraer White shark de ese string y que nos devuelva solo White shark. 

Un patr√≥n que podriamos usar es: 

patron_blanco = r".*[Ww](hite|HITE).*" # esto podr√≠a ser as√≠ porque puede estar en may√∫sculas o en min√∫sculas. 

de la misma forma que hemos sacado el patron para el tibur√≥n blanco, tendremos que sacar los patrones para las otras 4 especies que queremos "encontrar". 
Tendremos que crearnos una funci√≥n que aplicaremos sobre nuestra columna species para que nos devuelva una nueva columna con los valores clasificados en funci√≥n de los patrones de regex que hayamos definido.

In [6]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import regex as re

pd.options.display.max_columns = None

In [2]:
df = pd.read_csv("../datos/tiburon5.csv", index_col=0)

In [3]:
df.head()

,case_number,year,type,country,activity,age,species_,injury,mes,deceso,genero
0,2018.06.25,2018,Boating,usa,Paddling,57,White shark,"No injury to occupant, outrigger canoe and pad...",Jun,N,F
1,2018.06.03.a,2018,Unprovoked,brazil,Swimming,18,Tiger shark,FATAL,Jun,Y,M
2,2018.05.26.b,2018,Unprovoked,usa,Walking,15,"Bull shark, 6'",Lower left leg bitten,May,N,M
3,2018.05.24,2018,Provoked,australia,Feeding sharks,32,Grey reef shark,Minor bite to hand by captive shark. PROVOKED ...,May,N,M
4,2018.05.13.a,2018,Invalid,england,Fishing,21,Invalid incident,Injured by teeth of a dead porbeagle shark he ...,May,N,M

In [4]:
df["species_"].value_counts()

White shark                                                                                                                      76
Tiger shark                                                                                                                      37
4' shark                                                                                                                         34
Bull shark                                                                                                                       32
Shark involvement not confirmed                                                                                                  26
                                                                                                                                 ..
1.2 m [4'] blacktip or sandbar shark                                                                                              1
Bull shark, 1.8 m to 2.1 m [6' to 7']                                                                                             1
Mako shark, 400-lb                                                                                                                1
1.2 m to 1.5 m [4' to 5'] shark, possibly a bull shark                                                                            1
Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable     1
Name: species_, Length: 856, dtype: int64

In [35]:
df.dtypes

case_number    object
year            int64
type           object
country        object
activity       object
age            object
species_       object
injury         object
mes            object
deceso         object
genero         object
dtype: object

In [36]:
df.isnull().sum()

case_number      0
year             0
type             0
country         10
activity        31
age            154
species_       126
injury           8
mes            154
deceso          99
genero          14
dtype: int64

In [15]:
patron_blanco = ".*[Ww](hite|HITE).*"
patron_tigre = ".*[Tt](iger|IGER).*"
patron_gris = ".*[Gg](rey|REY).*"
patron_toro = ".*[Bb](ull|ULL).*"
patron_limon = ".*[Ll](emon|EMON).*"

In [37]:
def sacar_especies (col):

    if re.findall(patron_blanco, str(col)) :
        return "White"
    elif re.findall(patron_tigre, str(col)) :
        return "Tiger"
    elif re.findall(patron_gris, str(col)):
        return "Grey"
    elif re.findall(patron_toro, str(col)) :
        return "Bull"
    elif re.findall(patron_limon, str(col)):
        return "Lemon"
    else:
        return "Unspecified"

In [38]:
df["especies"] = df["species_"].apply(sacar_especies)

In [40]:
df.head(10)

,case_number,year,type,country,activity,age,species_,injury,mes,deceso,genero,especies
0,2018.06.25,2018,Boating,usa,Paddling,57,White shark,"No injury to occupant, outrigger canoe and pad...",Jun,N,F,White
1,2018.06.03.a,2018,Unprovoked,brazil,Swimming,18,Tiger shark,FATAL,Jun,Y,M,Tiger
2,2018.05.26.b,2018,Unprovoked,usa,Walking,15,"Bull shark, 6'",Lower left leg bitten,May,N,M,Bull
3,2018.05.24,2018,Provoked,australia,Feeding sharks,32,Grey reef shark,Minor bite to hand by captive shark. PROVOKED ...,May,N,M,Grey
4,2018.05.13.a,2018,Invalid,england,Fishing,21,Invalid incident,Injured by teeth of a dead porbeagle shark he ...,May,N,M,Unspecified
5,2018.04.28.b,2018,Unprovoked,costa rica,Scuba diving,30,Tiger shark,"No injury, shark bit scuba gear",Apr,N,M,Tiger
6,2018.04.25.a,2018,Unprovoked,australia,Surfing,60,3 m shark,"No injury, knocked off board by shark",Apr,N,M,Unspecified
7,2018.04.23,2018,Unprovoked,maldives,Fishing,32,Tiger shark,5-inch cut to hand,Apr,N,M,Tiger
8,2018.04.22,2018,Unprovoked,south africa,Paddle-skiing,33,"White shark, 2.5 m","No injury, shark bit hole in ski",Apr,N,M,White
9,2018.04.03,2018,Unprovoked,south africa,Surfing,19,White shark,Lacerations to left knee & lower leg,Apr,N,M,White

2.Columna de age: es una columna de tipo string pero deber√≠a ser de tipo integer. Adem√°s, en esta columna nos vamos a encontrar con algunos errores tipogr√°ficos, estos incluyen:

Edad en formato string

Edades separadas por &, or, to, >

Edades con ?

Vamos con algunas üí° pistas üí° para que os ayuden a entender c√≥mo hacerlo:

Primero tendremos que eliminar todos esos s√≠mbolos especiales que nos aparecen. De nuevo, podremos usar regex para extraer unicamente los n√∫meros que es lo que nos interesa. Usar este regex en una funci√≥n para sacar solo los n√∫meros.

Puede que os salga un error similar a este:

TypeError: expected string or bytes-like object

Para solucionar este problema, antes de nada tendr√©is que ejecutar este c√≥digo para que no os de error:

df['nombre_columna'] = df['nombre_columna'].astype(str)

Una vez que hay√°is extraido los n√∫meros, os dar√©is cuenta que hay celdas que tienen m√°s de una edad. Tendr√©is que decidir que hacer en esos casos. Os dejamos por aqu√≠ una posible opci√≥n usando un m√©todo de Pandas que os puede resultar super √∫til. El m√©todo explode, aqui.

Por √∫ltimo cambiad el tipo de la columna de string a integer.

3. Guarda el csv con las columnas limpias para seguir trabajando con este dataframe limpio.

In [ ]:
df.to_csv("../datos/tiburon.csv")